*{
    box-sizing: border-box;
    padding: 0;
    margin: 0
}

body{
    background-color: skyblue;
}

.card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    width: 200px;
    height: 150px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.header{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.header button{
    width: 50px;
}

button{
    background-color: rgb(13, 110, 253);
    border: none;
    border-radius: 3px;
    height: 30px;
    color: white;
}

input{
    border-radius: 3px;
    padding: 5px;
}